#Aba {
    height: 100%;
    width: 100%;
    background-color: #0007;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#Aba a{
    text-decoration: none;
    font-family: Sora;
    background-color: #ffffff05;
    padding: 5px 25px;
    color: #fff;
    margin: 5px;
    border: none;
    border-radius: 2px;
    border-left: 2px solid transparent;
    box-shadow: 1px 1px 8px #0002;
    transition: .3s ease-in-out !important;
}

#Aba a:hover {
    background-color: #fff2;
    border-left: 2px solid #fff;
    backdrop-filter: blur(8px);
}