#Home{
    padding: 5px 0px;
    background: linear-gradient(77deg, #000000e6 9.89%, rgba(0, 0, 0, 0) 139.46%), url('../img/Background/Home.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 10px;
    gap: 10px;
    overflow: hidden;
}

#Home h1{
    font-family: 'Base';
    color: #fff;
    margin: 2.5px 0px;
}

#Home p{
    width: 300px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: .7rem;
    line-height: 1.2rem;
    text-align: justify;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin: 2.5px 0px;
}

#Home button{
    font-family: 'Base';
    font-size: 1rem;
    height: 35px;
    width: 128px;
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    margin: 2.5px 0px;
}