#Home{
    padding: 10px 5px;
    background: linear-gradient(77deg, #000000e6 9.89%, rgba(0, 0, 0, 0) 139.46%), url('../img/Background/Home.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#Home h1{
    font-family: 'Base';
    font-size: 1.5rem;
    margin: 10px 0px 5px 0px;
}

#Home p{
    font-family: 'Sora';
    text-align: center;
    line-height: 1.6;
    letter-spacing: .1px;
    font-size: .7rem;
    width: 290px;
    margin: 5px 0px 10px 0px;
}

#Home button{
    transition: .3s !important;
    font-family: 'Base';
    font-size: 1rem;
    height: 35px;
    width: 128px;
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    margin: 10px 0px 5px 0px;
}

#Home button:hover{
    background-color: #100E0E;
    color: #fff;
}

@media (min-width: 1023px) {
}

@media (min-width: 767px) {

    #Home {
        padding: 20px 25px;
        gap: 15px
    }

    #Home h1{
        font-size: 3.5rem;
    }

    #Home p {
        text-align: justify;
        font-size: 1.2rem;
        width: 500px;
    }

    #Home button{
        font-size: 1.8rem;
        width: 230px;
        height: 55px;
    }

}

@media (min-width: 424px) {
}

@media (min-width: 374px) {
    #Home{
        align-items: flex-start;
        justify-content: center;
    }

    #Home p {
        text-align: justify;
    }
}