#Shop{
    height: auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 5px;
    overflow: hidden;
}

#Shop h1{
    font-family: 'Base';
    font-size: 1.5rem;
    margin: 10px 0px 5px 0px;
}

#Shop article{
    height: auto;
    padding: 10px 0px;
    width: 100%;
    margin: 5px 0px 10px 0px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
}

#Shop article .Produto{
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: 140px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    border-radius: 2px;
    margin: 0px 10px 0px 0px;
    padding: 0px 5px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

#Shop article .Produto:last-child {
    margin: 0px;
}

#Shop article .Produto button{
    transition: .3s !important;
    padding: 4px 20px;
    font-family: Sora;
    border: none;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
    color: #fff;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 2px;
}

#Shop article .Produto button:hover{
    background-color: #fff3;
}

#Shop article .Produto h2{
    font-family: Base;
    font-size: 1rem;
    width: 100%;
    letter-spacing: 1.5px;
    margin: 2.5px auto;
    color: #fff;
}

#Shop article .Produto p{
    text-align: justify;
    font-family: Sora;
    font-size: .55rem;
    line-height: 1rem;
    height: 75px;
    width: 100%;
    margin: 2.5px auto;
    color: #fff;
}

@media (min-width: 1023px) {
}

@media (min-width: 767px) {

    #Shop {
        padding: 20px 25px;
    }

    #Shop h1{
        font-size: 3.5rem;
    }

    #Shop article {
        border-radius: 10px;
    }

    #Shop article .Produto {
        height: 250px;
        width: 450px;
        max-width: 450px;
        min-width: 450px;
        border-radius: 10px;
        padding: 10px 10px;
    }

    #Shop article .Produto h2 {
        font-size: 2rem;
    }

    #Shop article .Produto p {
        font-size: 1rem;
        height: 120px;
    }

    #Shop article .Produto button{
        top: 5px;
        right: 5px;
        padding: 8px 40px;
        border-radius: 5px;
        font-size: 1.4rem;
    }
}

@media (min-width: 424px) {
}

@media (min-width: 374px) {
}