#Shop{
    height: auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 5px;
    overflow: hidden;
}

#Shop h1{
    font-family: 'Base';
    font-size: 1.5rem;
    margin: 10px 0px 5px 0px;
}

#Shop article{
    height: auto;
    width: 100%;
    margin: 5px 0px 10px 0px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

#Shop article .Produto{
    width: 230px;
    height: 140px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    border-radius: 2px;
    margin: 0px 10px 0px 0px;
    padding: 0px 5px;
    scroll-snap-align: center;
}


#Shop article .Produto button{
    transition: .3s !important;
    padding: 4px 20px;
    font-family: Sora;
    border: none;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
    color: #fff;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 2px;
}

#Shop article .Produto button:hover{
    background-color: #fff3;
}

#Shop article .Produto h2{
    font-family: Base;
    font-size: 1rem;
    width: 220px;
    letter-spacing: 1.5px;
    margin: 2.5px auto;
    color: #fff;
}

#Shop article .Produto p{
    font-family: Sora;
    font-size: .55rem;
    line-height: 1rem;
    height: 75px;
    width: 220px;
    margin: 2.5px auto;
    color: #fff;
}

@media (min-width: 1023px) {
}

@media (min-width: 767px) {

    #Home {
        padding: 20px 25px;
        gap: 15px
    }

    #Home h1{
        font-size: 3.5rem;
    }

    #Home p {
        text-align: justify;
        font-size: 1.2rem;
        width: 500px;
    }

    #Home button{
        font-size: 1.8rem;
        width: 230px;
        height: 55px;
    }

}

@media (min-width: 424px) {
}

@media (min-width: 374px) {
    #Home{
        align-items: flex-start;
        justify-content: center;
    }

    #Home p {
        text-align: justify;
    }
}